name: tahfidz
description: A new Flutter project.

publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.16.1 <3.0.0"

dependencies:
  animated_splash_screen: ^1.2.0
  cupertino_icons: ^1.0.2
  dio: ^4.0.4
  dropdown_search: ^2.0.1
  flutter:
    sdk: flutter
  # flutter_sequence_animation: null
  fluttertoast: ^8.0.8
  geocoding: ^2.0.4
  geolocator: ^8.2.0
  get: ^4.6.1
  google_fonts: ^2.3.1
  http: ^0.13.4
  image_picker: ^0.8.4+11
  line_icons: ^2.0.1
  lottie: ^1.2.2
  # path_provider: ^2.0.9
  sp_util: null
  # sqflite: ^2.0.2
  # sweetalert: any

dev_dependencies:
  flutter_lints: ^1.0.0
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/
    # - http://-freelance.my.id/
    # - https://flutter.dev/assets-and-images/#from-packages
  #   - images/a_dot_ham.jpeg
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
